@import url("https://fonts.googleapis.com/css2?family=Rock+3D&display=swap");
body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: url(../img/cc18109e-18a4-4f01-a35b-be91dddb6701-profile_banner-480.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  padding-top: 5px;
  background-color: gray;
  width: 100%;
  opacity: 0.9;
}
.logo {
  margin-left: 70px;
}

.logo p {
  font-family: "Rock 3D";
  color: yellow;
  font-size: 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1,
h2 {
  color: yellow;
  font-family: "Rock 3D";
}
nav {
  margin-right: 70px;
}
nav ul li {
  list-style: none;
  padding: 0 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav a,
footer a {
  text-decoration: none;
  color: yellow;
  font-size: 25px;
  font-family: "Rock 3D";
}

main {
  background: gray;
  margin: 0 auto;
  opacity: 0.9;
  width: 70%;
}
.txt {
  /* display: flex; */
  /*flex-direction: column;*/
  padding: 50px;
  width: 500px;
}
.decor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.decor1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 50px;
}

.decor p {
  color: black;
  font-size: 25px;
}
.img {
  width: 50%;
}
.img img {
  width: 100%;
}

footer ul li {
  list-style: none;
}

footer {
  background-color: gray;
  padding-bottom: 15px;
  opacity: 0.9;
}
footer p {
  color: yellow;
}

.displayNone {
  display: none;
}

.img2 {
  background: url(../img/index.3.jpg) no-repeat center/cover;
  width: 650px;
  height: 460px;
}

.img1 {
  background: url(../img/L_influence_du_paysage_sur_le_bonheur.jpg) no-repeat
    center/cover;
  width: 650px;
  height: 460px;
}
