* {
  padding: 0 auto;
  margin: 0 auto;
}
.logo img {
  width: 80px;
  height: 80px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  padding-top: 2%;
}
nav ul li a {
  padding: 0 2rem;
  color: white;
  text-decoration: none;
  margin: 30px;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

nav :focus {
  background-color: orangered;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 50px;
  background-color: gray;
}

.slider .img img {
  max-width: 100%;
  display: none;
}
.img.active img {
  display: block;
  animation: fade 0.8s;
}

.slider p,
h1,
button {
  display: none;
  max-width: 60%;
}

p.active,
h1.active,
button.active {
  display: block;
}

p,
h1 {
  color: white;
  font-size: 25px;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.btn-nav {
  font-size: 30px;
  margin-top: 7%;
  align-items: center;
}

.img {
  display: flex;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  background-color: orangered;
  color: white;
}
